.root {
    -fx-background-color: #353535;
}

.label {
    -fx-text-alignment: center;
    -fx-font-family: monospace;
    -fx-text-fill: black;
}

#message {
    -fx-font-family: monospace;
    -fx-text-fill: lightgray;
}

#list {
    -fx-background-color: #292826;
}