.root{
    -fx-background-color: #353535;
}

.label {
    -fx-text-fill: lightgray;
}

#title {
    -fx-text-alignment: center;
    -fx-font-size: 25px;
}

#copyright {
    -fx-text-alignment: center;
    -fx-font-size: 16px;
}

#copyright_text {
    -fx-font-size: 12px;
}