
.menu-bar {
    -fx-background-color: #353535;
    /*-fx-border-color: lightgray;*/
}

.menu .label{
    -fx-text-fill: lightgray;
}

.menu-item {
    -fx-background-color: #353535;
    -fx-border-color: lightgray;
    -fx-border-width: 0px;
}

.menu-item:hover {
    -fx-background-color: cornflowerblue;
}

.menu-item .label {
    -fx-text-fill: lightgray;
}

/* ======================================================================== */

#leftMenu {
    -fx-background-color: #353535;
}

#centerMenu{
    -fx-background-color: #292826;
}

#separatorLeftMenu {
    -fx-background-color: lightgray;
}
